/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    
    
}
main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/****** Header ***********/

header {
    display: flex;
    justify-content: space-between;
}

.logo-booki {
    padding: 30px 50px 30px 0;
    height: 79px;
    
}
nav {
    display: flex;
   height: 35px;
    
}
nav a {
    font-weight: 400;
}
nav li {
    height: 35px;
    display: flex;
    align-items: flex-end;
    border-top: solid #f2f2f200 ;
}
nav li:hover {
    border-top: solid #0065FC;
    color: #0065FC;
}
header ul {
    display: flex;
    gap: 68px;
}
/****** First section ***********/
.first-section {
    display: flex;
    flex-direction: column;
    gap:35px ;
}
.titre-first-section {
    display: flex;
    flex-direction: column;
    gap:8px ;
}
h1 {
    font-size: 22px; 
}
.search-bar {
    display: flex;
    width: 100%;
    max-width: 377px;
    border-radius:15px ;
    border: solid 1px #F2F2F2;
    height: 50px;
   
}
.search-bar input {
    flex: 1;
    border: 0;
    width: 147px;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
   
}
.search-bar button {
    border-radius: 0 15px 15px 0;
    padding: 15px 16px;
    color: white;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    
}
.map-icon {
    background-color:#F2F2F2;
    border: solid 1px #F2F2F2;
    width: 50px;
    height: 50px;
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-icon {
    background-color: #0065FC;
    width: 49px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: solid 1px #0065FC;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.248));
    display: none;
    
}

.filter-bar {
    display: flex;
    align-items: center;
    gap: 15px;
}
.filter-bar p {
    font-size: 18px;
    font-weight: 700;
}
.filter-bar ul {
    display: flex;
    gap: 15px;
}

.filter-bar button{
    display: flex;
    gap: 10px;
    padding: 4px 19px;
    align-items: center;
    border-radius: 25px;
    border:solid 2px #d9d9d9;
    background-color: white;
    height: 50px;
}

.filter-bar ul p {
    font-weight: 700;
    font-size: 17px;
}
.filter-bar .fa-solid {
    font-size: 19px;
}
.filter-button {
    display: flex;
    gap:15px ;
}

.filter-bar button:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}
.info-bar {
    display:flex;
    gap:10px;
    align-items: center;
}
.info-container {
    border: solid 1px #d9d9d9;
    border-radius: 50%;
    padding: 6px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.info-container .fa-solid {
    font-size: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hebergements h2 {
    font-size: 22px;
}
.hebergements-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 20px;
    padding: 0 0 15px 0;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    flex: 1;
    
}

.content-card {
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    flex-grow: 1;
    gap: 5px;
    
}
.content-card-txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.content-card h3 {
    font-size: 16px;
}
.content-card p {
    font-size: 14px;
}
.hebergements img {
    height: 124px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    border: solid 5px white;
}
.hebergements a {
   display: flex;
   flex: 1;
}

.hebergements-part {
    display: flex;
    gap: 30px;
    
}
.Afficher {
    font-size: 18px;
    font-weight: 700;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
}
.populaires-cards {
    gap: 30px;
    display: flex;
    flex-direction: column;

}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/****** Activités ***********/


.activité-cards-container {
    display: flex;
    gap: 30px;
}
.activité-cards {
    border-radius: 20px;
    width: 100%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background-color: #ffffff;
   display: flex;
   flex-direction: column;
   cursor: pointer;
}
.activité-cards p {
    font-weight: 700;
    padding: 20px 19px 20px 19px;
    margin: 0;
    font-size: 1rem;
}

.activites-frame {
    flex-grow: 1;
    align-items: center;
    display: flex;
}

.Activités {
    padding: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    
}
.Activités h2 {
   font-size: 22px;
}
.Activités img {
    height: 380px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    
    
}
/****** Footer ***********/
footer {
    background-color: #F2F2F2;
    display: flex;
}
footer h4 {
    font-size: 18px;
}
.footer-links {
    flex: 1;
    padding: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}
footer ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        gap: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .populaires-cards a {
        width: 30%;
        flex: 1;
    }

    

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }
    .filter-bar ul p {
        font-size: 16px;
    }
    .filter-bar {
        flex-direction: column;
        align-items: flex-start;
        gap:20px;
    }
    .activité-cards img {
        height: 200px;
    }
    .activites-frame {
        height: 70px;
    }
}
    

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }
    main {
        padding: 20px;
    }
    header {
        flex-direction: column;
        
    }
    .logo-booki {
        align-self: center;
        padding: 30px;
    }
   
    header li {
        align-items: flex-start;
        width: 100%;
        justify-content: center;
        border-bottom: solid 2px #F2F2F2;
}
header ul {
    width: 100%;
    justify-content: center;
    gap: 0;

}
header li:hover {
    border-bottom: solid 2px #0065FC;
    border-top-color: white;
}
.filter-bar ul p {
    font-size: 14px;
}
.filter-bar li {
    width: 100%;
    display: flex;
}
.filter-button button {
    flex: 1;
    justify-content: center;
    
}
.filter-bar {
    gap: 20px;
}

.filter-button {
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.search-icon {
    display: flex;
    
}
.search-bar button {
    display: none;
}
.search-bar {
   max-width: 728px;
}
main {
    padding: 0px;
    gap: 30px;
}
main .first-section {
    padding: 0 20px;
}
.populaires-title .fa-solid {
    font-size: 18px;
}
.hebergements-and-populaires {
    flex-direction: column-reverse;
    gap: 15px;
    
    
}
.hebergements-and-populaires section {
    border-radius: 0%;
}

.populaires-cards {
    flex-direction: column;
    width: 100%;
    gap: 15px;
}
.populaires-cards a {
    width: 100%;
}
.hebergements-and-populaires .hebergements {
    background-color: white;
    padding: 20px;
    gap: 15px;
}
.hebergements-and-populaires .populaires {
    padding: 30px 20px;
    gap: 15px;
}
.hebergements-part {
    flex-direction: column;
    gap: 15px;
    
}
.activité-cards-container {
    flex-direction: column;
    gap: 15px;
}
.activité-cards-container img {
    height: 141px;
}
footer {
    flex-direction: column;
    padding: 30px;
    gap: 50px;
    
}
.footer-links {
    padding: 0px;
}
}